.button {
    -fx-background-color: linear-gradient(to bottom, #FFEFBA, #FFFFFF);
    -fx-text-fill: #335433;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 4);
    -fx-cursor: hand;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #FFFFFF, #FFEFBA);
    -fx-border-color: #999999;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}