.option {
    -fx-background-color: linear-gradient(to bottom, #4CAF50, yellow);
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-cursor: hand;
}

.option:hover {
    -fx-border-color: purple;
    -fx-cursor: hand;
}

.option:pressed {
    -fx-background-color: yellow;
}

.correct {
    -fx-background-color: green;
}

.incorrect {
    -fx-background-color: red;
}

.text-area {
    -fx-background-color: rgb(12, 15, 100);
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.text-area:focused {
    -fx-border-color: #4CAF50;
}
